h1 {
  font-family: "Tac One", sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  letter-spacing: 6px;
}
section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.tablero {
  margin: 50px auto 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-gap: 0px;
  gap: 10px;
}
.turno {
  margin: 0;
  text-align: center;
}
.turno span {
  font-family: "Tac One", sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  letter-spacing: 6px;
}
.reseteo {
  padding: 20px 0;
  margin: 10px auto;
}
.buttonResetear {
  border: none;
  padding: 20px;
  text-align: center;
  font-family: "Tac One", sans-serif;
  font-size: 50px;
  color: white;
  border: solid 1px white;
  background-color: transparent;
  border-radius: 20px;
  letter-spacing: 6px;
}
.buttonResetear:hover {
  box-shadow: 3px 3px 10px white;
}
